.dialog-pane {
    -fx-background-color: #ffffff;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 20;
}

.dialog-pane .button {
    -fx-background-color: white;
    -fx-text-fill: #2C2B2B;
    -fx-font-size: 13px;
    -fx-background-radius: 3px;
    -fx-padding: 6 18 6 18;
    -fx-border-color: darkgray;
    -fx-border-width: 1px;
    -fx-border-radius: 3px;
}

.dialog-pane .button:hover {
    -fx-background-color: transparent;
}
