.table-view .column-header-background {
    -fx-background-color: linear-gradient(to right, #e0f7fa, #b2ebf2);
    -fx-border-color: transparent;
    -fx-border-width: 0px;
}

.table-view .column-header, 
.table-view .filler {
    -fx-background-color: transparent;
}
